.content {
    max-width: 500px;
    margin: auto;
}


body {
    margin: 0;
    padding: 0;
    background: url("https://hdqwalls.com/download/dark-abstract-shapes-qp-2880x1800.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}


h3, h4{
    color: white;
}
