body {
    margin: 0;
    padding: 0;
    background: fixed, no-repeat, url("http://wallpapersqq.net/wp-content/uploads/2015/10/pink-abstract-wallpapers-6.jpg");
    background-size: cover;
}

table{
    background: rgba(255, 255, 255, 0.75);
}

table, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid;
    padding: 5px;
}

tr {
    border: 1px solid;
}

h1 {
    color: pink;
    text-shadow: 2px 2px black;
}

a:visited {
  color: purple;
}

#rows:hover{
    background: pink;
}

.searchfield {
    margin-left: 10%;
}

.audio {
    margin-left: 43%;
}
