body {
    margin: 0;
    padding: 0;
    background: url("http://s1.picswalls.com/wallpapers/2015/09/08/beautiful-white-wallpaper_021209399_265.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    background: rgba(255, 255, 255, 0.75);
}

table, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid;
    padding: 5px;
}

tr {
    border: 1px solid;
}

h1 {
    color: black;
    text-shadow: 2px 2px white;
}

a:visited {
  color: black;
}

#rows:hover{
    background: gray;
}

.searchfield {
    margin-left: 10%;
}

.audio {
    margin-left: 43%;
}

.userlogin {
    display: flex;
    margin-left: 64%;
}

.register {
    display: flex;
    margin-left: 18%;
}

.logged_in {
    display: flex;
    margin-left: 10%;
    color: black;
}

.logged_in a:visited {
    color: black;
}

a, a:visited {
    color: black;
}
