<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a Question</title>
    {% if colour == 'light' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/light_form.css') }}">
    {% elif colour == 'dark' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_form.css') }}">
        {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gothic_form.css') }}">
        {% endif %}
</head>
<body>
<div class="content">
    {% if answer %}
        <p>{{ qid }}</p>
    {% else %}
        <form action="/ask_question" method="post">
            <label for="title"><h3>Title:<br></h3></label>
            <textarea id="title" name="title" minlength="5" required></textarea>
            <label for="question"><h3>Question:<br></h3></label>
            <textarea id="question" name="question" required></textarea>
            <label for="image"><h4>Image:<br></h4></label>
            <input type="url" id="image" name="image" placeholder="https://example.com"
                   pattern="https://.*" size="20">
            <br>
            <br>
            <button type="submit">Submit Question</button>
        </form>
    {% endif %}
</div>
</body>
</html>