<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a Question</title>
</head>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }

    body {
        margin: 0;
        padding: 0;
        background: fixed, no-repeat, url("https://hdqwalls.com/download/dark-abstract-shapes-qp-2880x1800.jpg");
        background-size: cover;
        height: 100%;
    }
</style>
<body>
<div class="content">
    {% if answer %}
    <p>Működik</p>
    <p>{{ qid }}</p>
    {% else %}
    <form action="/ask_question" method="post">
        <label for="title"><h3>Title:<br></h3></label>
        <textarea id="title" name="title" minlength="5" required></textarea>
        <label for="question"><h3>Question:<br></h3></label>
        <textarea id="question" name="question" required></textarea>
        <label for="image"><h4>Image:<br></h4></label>
        <input type="url" id="image" name="image" placeholder="https://example.com"
               pattern="https://.*" size="20">
        <br>
        <br>
        <button type="submit">Submit Question</button>
    </form>
    {% endif %}
</div>
</body>
</html>