<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rakás Túlfolyás</title>
    <link rel="icon" href="/favicon.png">
    {% if colour == 'light' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/light_main.css') }}">
    {% elif colour == 'dark' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_main.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gothic_main.css') }}">
    {% endif %}

    <script>
        let problem = '{{ error }}';
        if (problem === 'invalid_login') {
            if (window.confirm('Invalid username or password')) {
                document.location = '/';
            } else {
                document.location = '/';
            }
        } if (problem === 'login_error') {
            if (window.confirm('Invalid username or password')) {
                document.location = '/';
            } else {
                document.location = '/';
            }
        } else {
        }
    </script>

</head>
<body>
<div class="content">

    <h1 align="center">Rakás Túlfolyás</h1>
    <p align="center">
        <button onclick="window.location.href='/ask_question'">Ask a Question</button>
        <button onclick="window.location.href='/'">Show All Questions</button>
    </p>

    <form action="/">
        <p align="center">
            <select id="status" name="status">
                {% for option in sort_options %}
                    <option value="{{ loop.index0 }}" name="{{ option }}" id="{{ option }}"
                            {{ 'selected' if current==loop.index0 }}>{{ option }}</option>
                {% endfor %}
            </select>
            <select id="order" name="order">
                {% for option in orderby %}
                    <option value="{{ loop.index0 }}" name="{{ option }}" id="{{ option }}"
                            {{ 'selected' if corder==loop.index0 }}>{{ option }}</option>
                {% endfor %}
            </select>
            <button type="submit">Sort</button>
        </p>
    </form>
    {% with username=username %}
        {% include "login.html" %}
    {% endwith %}


    <div class="search">
        <form action="/search">
            <div class="searchfield">
                <input name="searchval" type="text" placeholder="Search for something...">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>

    <div>
        <table style="width:80%" align="center">
            <tr>
                <th>ID</th>
                <th>Submission Time</th>
                <th>View Number</th>
                <th>Vote Number</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            {% for item in questions %}
             <tr id="rows">
                <td>{{ item.id }}</td>
                <td>{{ item.submission_time }}</td>
                <td>{{ item.view_number }}</td>
                <td>{{ item.vote_number }}</td>
                <td><a href="/question/{{ item.id }}">{{ item.title }}</a></td>
                <td>{{ item.message }}</td>
                {% if item.image %}
                    <td><img src="{{ item.image }}" width="100" height="80"></td>
                {% else %}
                    <td>{{ item.image }}</td>
                {% endif %}
             </tr>
            {% endfor %}
        </table>
        <br>
    </div>
    <div class="style" align="center">
        <form>
            <input type="hidden" value="latest" name="latest">
            <button type="submit">Latest</button>
        </form>
        <button onclick="window.location.href='/users'">Users</button><br><br>
        {% if 'username' in session %}
            <form action="/" id="style_change">
                <select id="style" name="style" onchange="this.form.submit()">
                    <option value="choose" name="style" id="choose">Choose A Style</option>
                    <option value="dark" name="style" id="dark">Dark</option>
                    <option value="light" name="style" id="light">Light</option>
                    <option value="gothic" name="style" id="gothic">Gothic</option>
                </select>
            </form>
        {% endif %}
    </div>
</div>
</body>
</html>