<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
</head>
<body>
    <h1>Ask Mate Open Beta</h1>
    <a href="/question">Ask a Question</a>
    <table style="width:50%">
        <tr>
            <th>ID</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        <tr>
            {% for items in questions %}
        <tr>
            {% for data in items %}
                {% if loop.index0 == 4 %}
                    <td><a href="/question/{{items[0]}}">{{data}}</a></td>
                {% else %}
                    <td>{{data}}</td>
                {% endif %}
            {% endfor %}
        </tr>
            {% endfor %}
        </tr>
    </table>
    <p>
    </p>
</body>
</html>