{% if username %}
    <div class="logged_in">
        Logged in as: {{ username }}&nbsp;<b>| <a href="/logout">LOGOUT</a> |</b>
    </div>
{% else %}
    <div class="userlogin">
        <form action="/login" method="post">
            <div class="loginfield">
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password" autocomplete="off">
                <input type="submit" value="Login">
            </div>
        </form>
        <form>
            <div class="register">
                <input type="button" value="Register" onclick="window.location.href='/register'"/>
            </div>
        </form>
    </div>
{% endif %}