<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question['title']}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% if colour == 'light' %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/light_question.css') }}">
    {% elif colour == 'dark' %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_question.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/gothic_question.css') }}">
        {% endif %}
    <style>
        .avatar {
            width: 70px;
            height: 70px;
            padding-right: 20px;
            padding-bottom: 20px;

        }

        .qavatar {
            width: 150px;
            height: 150px;

        }

        .submissiontext {
            line-height: 150px;
            display: inline-block;
            vertical-align: top;
        }

        .userlogin {
            padding: 50px;
        }

    </style>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
</head>
<body>
{% with username=sessionusername %}
    {% include "login.html" %}
{% endwith %}

<h3>
    <span class="submissiontext">Posted by: <a
            href="/user/{{ profile_id }}">{{ user_name }}</a> at {{ question['submission_time'] }}</span>
    <img src="{{ profile_picture }}" alt='' class="qavatar w3-round">
</h3>
<h1>{{ question['title'] }}</h1>
    <div class="question" contenteditable="{{ editable }}">
        <div class="edit">
            {% if not editable %}
                {% if user_id == question['user_id'] or user_id == 1 %}
                    <form action="/edit/{{ question.id }}" method="POST">
                        <input type="text" hidden name="edit" value="edit">
                        <input type="submit" class="fas fa-edit" value="&#xf044"; Input>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% if user_id == question['user_id'] or user_id == 1 %}
            <div class="trash">
                <form action="/delete" method="POST">
                    <input type="number" hidden name="questid" value="{{question['id']}}">
                    <input type="submit" class="fas fa-trash" value="&#xf1f8"; Input>
                </form>
            </div>
        {% endif %}
        <div class="message">
            {% if editable %}
                <form action="/question/{{ question.id }}" method="POST">
                    <input type="text" hidden name="save" value="save">
                        <form action="/question/{{ question.id }}" method="POST">
                            <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' class="update_question" name="updated" value="{{ question['message'] }}">{{ question['message'] }}</textarea>
                            <button type="submit" class="trash">
                                <i class="fas fa-save"></i>
                                UPDATE
                            </button>
                        </form>
                </form>
            {% else %}
                    <p class="question_message"><font size="4">{{ question['message'] }}</font></p>
            {% endif %}
            {% if question['image'] %}
            <br>
            <input class="spoilerbutton" type="button" value="Show Image" onclick="this.value=this.value=='Show Image'?'Hide Image':'Show Image';">
            <div class="spoiler">
                <div><img src="{{ question['image'] }}" height="400"></div>
            </div>
            {% endif %}
            <input class="spoilerbutton2" type="button" value="Show Comments" onclick="this.value=this.value=='Show Comments'?'Hide Comments':'Show Comments';">
            <div class="spoiler">
                <div class="comment">
                    {% for comment in question['comments'] %}
                        <br>{{ comment['submission_time'] }} by <a href="/user/{{ comment['user_id'] }}">{{ comment['username'] }}</a>: {{ comment['message'] }}<br>
                        <br>
                    {% endfor %}
                    <input class="spoilerbutton3" type="button" value="Add Comment" onclick="this.value=this.value=='Add Comment'?'Cancel':'Add Comment';">
                        <div class="spoiler">
                            {% if user_id %}
                                <div>
                                <form action="/comment/question/{{question['id']}}" method="post">
                                    <textarea name="commenttext" rows="6" cols="60" minlength="1" placeholder="Write a comment..."></textarea>
                                    <p align="right"><input type="submit" value="Send"></p>
                                </form>
                                </div>
                            {% else %}
                                <div>
                                Please login to post a comment!
                                </div>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
        <p class="vote">
            <a href="{{ url_for('vote', type='question', question_id=question['id'], type_id=question['id'], direction='up') }}"><i class="fas fa-arrow-up"></i></a>
            <a href="{{ url_for("vote", type="question", question_id=question['id'], type_id=question['id'], direction="down") }}"><i class="fas fa-arrow-down"></i></a>
            {{ question['vote_number'] }}
        </p>
    </div>
    <p align="center">
        <button class="backbutton" onclick="goBack()">Previous</button>
        <button class="backbutton" onclick="window.location.href='/'">Home</button>
    </p>
    <div class="answers">
    {% if not question['answers'] %}
        <p class="even wrap"><font size="4">No answers found</font></p>
    {% else %}
        {% for answer in question['answers'] %}
            {% if user_id == question['user_id'] or user_id == 1 %}
                <form action="/delete_answer" method="POST">
                    <input type="number" hidden name="answer_id" value="{{ answer.id }}">
                    <input type="number" hidden name="question_id" value="{{ answer.question_id }}">
                    <p class="trash"><input type="submit" class="fas fa-trash" value="&#xf1f8"; Input><br></p>
                </form>
            {% endif %}
                <div class="even wrap">
                    <p class="date">Posted by: <a href="/user/{{ answer['user_id'] }}">{{ answer['username'] }}</a>
                        at {{ answer['submission_time'] }}</p><br>
                    <img src="{{ answer['profile_picture'] }}" alt='' class="avatar w3-round">
                    <font size="4">{{ answer['message'] }}</font><br>
                    <br>
                    <input class="spoilerbutton2" type="button" value="Show Comments" onclick="this.value=this.value=='Show Comments'?'Hide Comments':'Show Comments';">
                    <div class="spoiler commentarea">
                        <div class="comment">
                            {% for comment in answer['comments'] %}
                                <br>{{ comment['submission_time'] }} by <a href="/user/{{ comment['user_id'] }}">{{ comment['username'] }}</a>: {{ comment['message'] }}<br>
                                <br>
                            {% endfor %}
                            <input class="spoilerbutton3" type="button" value="Add Comment" onclick="this.value=this.value=='Add Comment'?'Cancel':'Add Comment';">
                                <div class="spoiler">
                                    {% if user_id %}
                                        <div>
                                        <form action="/comment/answer/{{answer['id']}}" method="post">
                                            <input type="number" hidden name="question_id" value="{{ answer.question_id }}">
                                            <textarea name="commenttext" rows="6" cols="60" minlength="1" placeholder="Write a comment..."></textarea>
                                            <p align="right"><input type="submit" value="Send"></p>
                                        </form>
                                        </div>
                                    {% else %}
                                        <div>
                                        Please login to post a comment!
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                    <p class="vote">
                    <a href="{{ url_for("vote", type="answer", question_id=answer['question_id'], type_id=answer['id'], direction="up") }}"><i class="fas fa-arrow-up"></i></a>
                    <a href="{{ url_for("vote", type="answer", question_id=answer['question_id'], type_id=answer['id'], direction="down") }}"><i class="fas fa-arrow-down"></i></a>
                    {{ answer['vote_number'] }}
                    </p>
                </div>
        {% endfor %}
    {% endif %}
        {% if user_id %}
            <form action="/answer/{{question['id']}}" method="post">
                <div class="wrap" align="center">
                    <textarea name="answertext" rows="12" cols="60" minlength="10" placeholder="Write an answer..."></textarea>
                    <input type="hidden" id="answer_user_id" name="answer_user_id" value="1">
                    <p align="right"><input type="submit" value="Send"></p>
                </div>
            </form>
        {% else %}
            <div class="wrap" align="center">
                Please login to write an answer!
            </div>
        {% endif %}
    </div>
</body>
</html>