<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% if colour == 'light' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/light_form.css') }}">
    {% elif colour == 'dark' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_form.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gothic_form.css') }}">
    {% endif %}
</head>
<body>
    <div class="content">
        <form action="/register" method="post">
            <label for="username"><h3>Username:<br></h3></label>
            <input type="text" id="username" name="username" minlength="5" placeholder="username" required>
            <label for="password"><h3>Password:<br></h3></label>
            <input id="password" name="password" minlength="5" placeholder="password" required>
            <label for="profile_picture"><h4>Profile Picture:<br></h4></label>
            <input type="url" id="profile_picture" name="profile_picture" placeholder="https://example.com"
                   pattern="http://.*" size="20">
            <br>
            <br>
            <button type="submit">Create User</button>
        </form>
    </div>
</body>
</html>